<div class="container about-me-container mt-5 py-5">
    <div class="row align-items-center flex-column-reverse flex-lg-row">

        <!-- Text Column -->
        <div class="col-12 col-lg-6 text-center text-lg-start mt-4 mt-lg-0">
            <h1 class="fw-bold mt-3 custom-heading">{{ personal_info.fname }}</h1>
            <h2 class="fw-bold mt-3 custom-heading">
                I'm a <span class="display-3 text-nowrap larger-typed-text "></span>
            </h2>
        </div>

        <!-- Image Column with Animated Border -->
        <div class="col-12 col-lg-5 d-flex justify-content-center">
            <div class="image-container">
                <img src="{{ personal_info.image.url }}" alt="Profile Image" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<!-- Typed.js Script for Typing Effect -->
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script>
    var typed = new Typed(".display-3", {
        strings: ["Full-stack Developer", "Freelancer"],
        typeSpeed: 100,
        backSpeed: 50,
        loop: true,
    });
</script>
