{% extends 'index.html' %}
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>

<h2>hello</h2>
<h1>This is a Heading</h1>
<p>This is a paragraph.</p>

{% block banner %}
    {% if banner %}
        <div class="image-container w-100" style="position: relative;">
            <img src="{{ banner.image.url }}" width="100%">
        </div>
    {% else %}
        <p>No banner available</p>
    {% endif %}
{% endblock banner %}

{% block content %}
    {% for p in projects %}
        <h1>{{ p.title }}</h1>
        <img src="{{ p.image.url }}" alt="{{ p.title }}">
    {% endfor %}
{% endblock content %}
</body>
</html>