{% extends 'index.html' %}
{% load static %}

{% block title %}
    <title>Portfolio</title>
{% endblock title %}

{% block content %}
    <canvas id="canvas"></canvas>

    <!-- Navigation for small screens -->
    <div class="circle-node-navigation d-md-none">
        <button class="circle-node" data-scroll="#TOP-section">1</button>
        <button class="circle-node" data-scroll="#ABOUT-section">2</button>
        <button class="circle-node" data-scroll="#SKILLS-section">3</button>
        <button class="circle-node" data-scroll="#EXPERIENCES-section">4</button>
        <button class="circle-node" data-scroll="#PROJECTS-section">5</button>
    </div>

    <!-- Sidebar menu for large screens -->
    <div class="menu-ticket d-none d-md-block">
        <ul class="list-unstyled m-0">
            <li class="mb-3">
                <a class="menu-link" href="#TOP-section">TOP</a>
            </li>
            <li class="mb-3">
                <a class="menu-link" href="#ABOUT-section">ABOUT ME</a>
            </li>
            <li class="mb-3">
                <a class="menu-link" href="#SKILLS-section">SKILLS</a>
            </li>
            <li class="mb-3">
                <a class="menu-link" href="#EXPERIENCES-section">EXPERIENCES</a>
            </li>
            <li class="mb-3">
                <a class="menu-link" href="#PROJECTS-section">PROJECTS</a>
            </li>
        </ul>
    </div>

    <!-- Section content -->
    <div id="TOP-section">
        {% include 'pages/about_me.html' %}
    </div>

    <div id="ABOUT-section">
        <p style="color: #ff0000">Section Content: ABOUT ME</p>
        <br><br><br><br><br><br><br><br><br>
    </div>

    <div id="SKILLS-section">
        <p style="color: #ff0000">Section Content: SKILLS</p>
    </div>

    <div id="EXPERIENCES-section">
        <p style="color: #ff0000">Section Content: EXPERIENCES</p>
    </div>

    <div id="PROJECTS-section">
        <p style="color: #ff0000">Section Content: PROJECTS</p>
    </div>
{% endblock content %}
