/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Quicksand', sans-serif;
}

/* Canvas Background */
canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    pointer-events: none;
    background-color: #122333;
}

/* Ticket-Style Menu on Left Side */
.menu-ticket {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 200px;
    padding: 20px;
    border-right: 2px solid white; /* Right border only */
    z-index: 2;
}

.menu-link {
    font-size: 1.25rem;
    color: #C4D4E0;
    text-decoration: none;
    transition: color 0.3s ease;
}

.menu-link:hover, .menu-link.active {
    color: #d4af37;
}

/* Collapsed Menu Button */
#menuToggle {
    background-color: transparent; /* Transparent background */
    color: #C4D4E0;
    border: 2px solid white; /* White border */
    padding: 10px 15px;
    border-radius: 0 10px 10px 0;
    z-index: 3;
    top: 1rem;
    left: 1rem;
}

/* Ensure it stays fixed in the top-left */
#menuToggle.position-fixed {
    top: 1rem;
    left: 1rem;
}

#menuToggle:focus {
    outline: none;
}

/* Hidden Menu Panel for Small Screens */
.menu-panel {
    position: fixed;
    top: 0;
    left: -200px; /* Off-screen initially */
    height: 100vh;
    width: 200px;
    backdrop-filter: blur(10px); /* Blurred background */
    background-color: rgba(1, 18, 34, 0.75); /* Transparent background with blur */
    padding-top: 50px;
    border-radius: 0 10px 10px 0;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.2);
    z-index: 2;
    transition: left 0.3s ease;
}

.menu-panel.active {
    left: 0;
}

/* Close Button Styling */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #C4D4E0;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-btn:hover {
    color: #d4af37;
}
