body {
    background-color: black;
}

.navbar {
    background-color: #011222;
}

.nav-link {
    color: white;
    position: relative;
}

.nav-link:hover {
    color: #d4af37;
}

.navbar-toggler-icon {
    background-image: none;
    color: white;
}

.navbar-toggler-icon::before {
    content: '\2630';
    font-size: 1.5rem;
    color: inherit;
}

.nav-link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #d4af37;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar .nav-link.active {
    color: white;
}

.banner-background {
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner-background div img {
    width: 150px;
    max-width: 100%;
    border-radius: 50%;
    border: 3px solid white;
}

.contact-ticket {
    width: 50%;
    background-color: #011222;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contact-ticket h3 {
    color: #d4af37;
}

.contact-ticket p {
    margin: 5px 0;
}

.contact-ticket .social-links a {
    display: inline-flex;
    align-items: center;
    color: #d4af37;
    text-decoration: none;
}

.contact-ticket .social-links a i {
    font-size: 1.2em;
}

.contact-ticket .social-links a:hover {
    color: white;
}
